body {
    background-color: #E8CB92;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    border-top: 25px solid #403321;
    border-bottom: 25px solid #403321;
    font-family: Georgia;
    font-weight: 300;
    background-color: #C6AE7E;
    color: #403321;
    text-align: center;
}

nav {
    background-color:  #54442C;
    text-align: center;
}

nav a {
    font-family: Courier;
    display: inline-block;
    padding: 15px 90px 15px 90px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
}

a:hover {
    color: #EDD49B;
}

p {
    text-align: justify;
    font-family: 'Times New Roman';
    padding-top: 25px;
    padding-bottom: 20px;
    color: #54442D;
}

.second-part, .third-part, .fourth-part {
    float: left;
}

.first-part {
    width: 20%;
    padding: 20px;
    text-align: center;
    position: fixed;
    right: 20px;
}

.first-part img {
    display: inline-block;
    margin: 10px auto;
    padding: 25px;
}
