body {
    background-color: #E8CB92;

}

header {
    
    text-align: center;
    background-color: #C6AE7E;
    font-family: Georgia;
    padding: 20px;
    margin: -10px;

}

h1 {
    color: #403321;
    font-size: 2em;
}

nav {
    text-align: center;
    margin: -10px;
    padding: 30px;
    background-color: #54442D;
    overflow: hidden;
    float: center;
    display: inline;
    text-decoration: none;
}

#nav a {
    text-decoration: none;
    color: white;
    padding-right: 100px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px white;

}

a:hover {
    color: #403321;
}

#news {
    position: absolute;
    padding-top: 5%;
    padding-left: 5%;

}

